{% extends 'base.html.twig' %}

{% block title %}A Propos -
	{{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center my-4">A PROPOS</h1>
	<section class="row m-4 px-0 px-md-2 px-lg-4">
		<p class="fs12 px-4 pt-4">« atraverschants.fr » est un site internet pour une chorale mixte 4 voix (Basse, Ténor, Alto, Soprano) 
        et chœur d'enfants basée à Frangy, charmant village de Haute-Savoie en France.</p>
        <p class="text-center fs12 px-4 pb-4"> 
        Le chant choral connaît une profonde évolution car il se trouve à la croisée d'enjeux qui dépassent la musique et revitalisent les liens 
        sociaux. L’âge moyen des chorales est assez haut du fait de contraintes professionnelles. La priorité de ce site est portée sur la 
        sociabilité et la convivialité que la chorale a comme valeurs. Ce n’est pas seulement un site vitrine ou un blog pour la chorale, 
        mais il y a également la fonctionnalité de s’enregistrer si le choriste ne peut être présent (travail, enfants, maladie, vieillesse).
         Les enregistrements seront récupérés par le chef de chœur pour être mixés avec ceux des répétitions physiques. La consultation des 
         partitions, des paroles, de la musique, des enregistrements par voix sera disponible après inscription. Une boutique avec divers articles (chemises, écharpes, cravates pour le chœur d’adultes, t-shirts 
        pour le chœur d’enfants, casque audio, mug) sera dans le futur aussi disponible. Le programme est varié : chants profanes et sacrés. 
        Cette chorale adhère à l’association nationale « À Cœur Joie ». Venez découvrir cette chorale au grand chœur !
        </p>
    </section>
    <section class="row m-4 px-0 px-md-2 px-lg-4">
        <p class="fs12 pt-4">En Anglais:</p>
        <p class="fs12 px-4">« atraverschants.fr » is a website for a choir mixed 4 voices (Bass, Tenor, Alto, Soprano) and children's choir 
        based in Frangy, a charming village in Haute-Savoie in France.</p>
        <p class="fs12 px-4 pb-4">Choral singing is undergoing a profound evolution because it is at the 
        crossroads of issues that go beyond music and revitalize social ties. The average age of choirs is quite high due to professional 
        constraints. The priority of this site is focused on the sociability and friendliness that the choir has as its values. It is not only a 
        showcase site or blog for the choir, but there is also the feature to register if we can not be present (work, children, illness, old age).
         The recordings will be collected by the choir director to be mixed with those of the physical rehearsals. The consultation of scores, 
         lyrics, music, recordings by voice will be available after registration. A shop with various items (shirts, scarves, ties for the adult 
         choir, t-shirts for the children's choir, headphones, mug) will be in the future also available. The program is varied: secular and 
         sacred songs. This choir is a member of the national association "À Coeur Joie". Come and discover this choir with a large heart!
        </p>
	</section>
{% endblock %}
