{% extends 'base.html.twig' %}

{% block title %} Editer une ressource - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">EDITER UNE RESSOURCE</h1>
    {{ form(formresource)}}
</div>

{% endblock %}