{% extends 'base.html.twig' %}

{% block title %}Paiement -
	{{ parent() }}{% endblock %}

{% block body %}
<h1 class="text-center my-4">PAIEMENT</h1>
	<section class="row m-4 px-4">
		<p>redirection vers système de paiement via une API Bancaire</p>
	</section>
{% endblock %}
