{% extends 'base.html.twig' %}

{% block title %} Editer un article - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">EDITER UN ARTICLE</h1>
    {{ form(form)}}
</div>

{% endblock %}